<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="OrangeHRM_testSuite">

    <test name="ProfilePageTest" verbose="1" >
        <classes>
            <class name="tests.Test_ProfilePage"/>
<!--            <class name="tests.Test_DashboardPage"/>-->
<!--            <class name="tests.Test_LoginPage"/>-->
        </classes>
    </test>

</suite>